Repository KhazP/Localization-Comparison-Tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: pubspec-check, check-build-runner

.pre-commit-config.yaml:

# Pre-commit hooks for LocalizerAppMain Flutter Project
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        name: Fix end of file
      - id: check-yaml
        name: Validate YAML syntax
      - id: check-json
        name: Validate JSON syntax
      - id: check-merge-conflict
        name: Check for merge conflict markers
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1024']
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ['--fix=lf']
      - id: check-case-conflict
        name: Check for filename case conflicts

  # Dart/Flutter-specific hooks (using local hooks)
  - repo: local
    hooks:
      # Dart formatting
      - id: dart-format
        name: Dart Format
        description: Formats Dart code according to dart format
        entry: dart format --set-exit-if-changed
        language: system
        types: [dart]
        pass_filenames: true

      # Flutter analyze (static analysis)
      - id: flutter-analyze
        name: Flutter Analyze
        description: Runs Flutter static analysis
        entry: flutter analyze --no-pub --no-fatal-warnings --no-fatal-infos
        language: system
        types: [dart]
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      # Check pubspec.yaml is valid
      - id: pubspec-check
        name: Pubspec Check
        description: Validates pubspec.yaml syntax
        entry: flutter pub get --dry-run
        language: system
        files: pubspec\.yaml$
        pass_filenames: false

      # Check for generated files consistency
      - id: check-build-runner
        name: Check Generated Files
        description: Ensures generated files are up to date
        entry: 'cmd /c ".\\scripts\\check_build_runner.bat"'
        language: system
        files: \.(dart)$
        pass_filenames: false
        stages: [pre-commit]
        always_run: false

      # Run Flutter tests
      - id: flutter-test
        name: Flutter Tests
        description: Runs Flutter unit tests
        entry: flutter test --no-pub
        language: system
        types: [dart]
        pass_filenames: false
        stages: [pre-push]

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        name: Validate commit message
        stages: [commit-msg]

# Hook stages configuration:
# - pre-commit: dart-format, pubspec-check, check-build-runner
# - pre-push: flutter-analyze, flutter-test
# - commit-msg: commitizen (validates conventional commits)

feat: implement comparison history management and add dedicated views for home, first-run wizard, file, directory, and Git comparisons.
  README.md
  docs/index.html
  lib/presentation/views/directory_comparison_view.dart
  lib/presentation/views/file_comparison_view.dart
  lib/presentation/views/first_run_wizard_view.dart
  lib/presentation/views/git_comparison_view.dart
  lib/presentation/views/history_view.dart
  lib/presentation/views/home_view.dart
Due: check-build-runner

feat: Add empty state widgets, recent comparison list, and initial directory and Git comparison views.
  lib/presentation/views/directory_comparison_view.dart
  lib/presentation/views/git_comparison_view.dart
  lib/presentation/widgets/common/empty_state_common.dart
Due: check-build-runner

feat: Add Git comparison view with PlutoGrid diff display and integration test setup.
  .gitignore
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
  lib/presentation/views/git_comparison_view.dart
  pubspec.lock
  pubspec.yaml
Due: pubspec-check, check-build-runner

feat: Introduce new settings UI components, history and Git comparison views, a revised application theme, and common utilities.
  lib/core/utils/time_utils.dart
  lib/presentation/themes/app_theme_v2.dart
  lib/presentation/views/git_comparison_view.dart
  lib/presentation/views/history_view.dart
  lib/presentation/widgets/common/common.dart
  lib/presentation/widgets/common/visual_components.dart
  lib/presentation/widgets/settings/developer_settings_card.dart
  lib/presentation/widgets/settings/file_handling_settings_card.dart
  lib/presentation/widgets/settings/settings.dart
  lib/presentation/widgets/settings/settings_collapsible_section.dart
  lib/presentation/widgets/settings/settings_shared.dart
Due: check-build-runner

chore(release): Prepare v2.0.0 with installer and changelog
  .gitignore
  CHANGELOG.md
  assets/logo/localizerapp.ico
  assets/logo/localizerlogo.png
  installer/README.txt
  installer/setup.iss
  lib/presentation/widgets/settings/version_control_settings_card.dart
  test/presentation/views/comparison_result_dialog_test.dart
  windows/runner/Runner.rc
  windows/runner/resources/app_icon.ico
Due: check-build-runner

feat: add localizer app logo
  assets/logo/localizerlogo.png
Due: none

"feat-german-translations"
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/core/services/friendly_error_service.dart
  lib/core/services/onboarding_tutorial_service.dart
  lib/i18n/de.i18n.json
  lib/i18n/en.i18n.json
  lib/i18n/es.i18n.json
  lib/i18n/fr.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/tr.i18n.json
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/settings/settings_constants.dart
Due: check-build-runner

perf: performance optimizations
  lib/core/services/diff_calculator.dart
  lib/core/services/file_cache_service.dart
  lib/core/utils/diff_utils.dart
  lib/data/cache/translation_cache.dart
Due: check-build-runner

"chore-fix-formatting"
  lib/data/cache/translation_cache.dart
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/tr.i18n.json
Due: check-build-runner

"chore-complete-german-translations"
  lib/i18n/de.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_tr.g.dart
Due: check-build-runner

feat: add Korean translation
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/i18n/it.i18n.json
  lib/i18n/ja.i18n.json
  lib/i18n/ko.i18n.json
  lib/i18n/pt-BR.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_tr.g.dart
  lib/presentation/views/home_view.dart
  lib/presentation/widgets/settings/settings_constants.dart
Due: check-build-runner

feat: add Korean language support
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/i18n/de.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_tr.g.dart
  lib/presentation/widgets/settings/settings_constants.dart
Due: check-build-runner

fix: resolve localization build errors and apply formatting
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_tr.g.dart
Due: check-build-runner

fix: resolve localization build errors and apply formatting
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/i18n/ru.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_ru.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/strings_zh_CN.g.dart
  lib/i18n/zh-CN.i18n.json
  lib/presentation/widgets/settings/settings_constants.dart
Due: check-build-runner

perf: performance optimization
  lib/core/services/diff_calculator.dart
  lib/core/services/dio_client.dart
  lib/core/services/file_watcher_service.dart
  lib/core/services/windows_integration_service.dart
  lib/core/utils/file_explorer_utils.dart
  lib/data/parsers/arb_parser.dart
  lib/data/parsers/csv_parser.dart
  lib/data/parsers/docx_parser.dart
  lib/data/parsers/json_parser.dart
  lib/data/parsers/localization_parser.dart
  lib/data/parsers/plain_text_parser.dart
  lib/data/parsers/properties_parser.dart
  lib/data/parsers/resx_parser.dart
  lib/data/parsers/tmx_parser.dart
  lib/data/parsers/xliff_parser.dart
  lib/data/parsers/xml_parser.dart
  lib/data/parsers/yaml_parser.dart
  lib/data/services/git_service.dart
  lib/data/services/system_info_service.dart
  lib/data/services/translation_memory_service.dart
  lib/i18n/strings.g.dart
  lib/presentation/views/advanced_diff/advanced_diff_controller.dart
  lib/presentation/views/file_comparison_view.dart
  lib/presentation/views/git_comparison_view.dart
  lib/presentation/views/history_view.dart
  test/data/parsers/json_parser_test.dart
  test/data/parsers/yaml_parser_test.dart
Due: check-build-runner

fix: update missing translations
  lib/i18n/de.i18n.json
  lib/i18n/en.i18n.json
  lib/i18n/es.i18n.json
  lib/i18n/fr.i18n.json
  lib/i18n/it.i18n.json
  lib/i18n/ja.i18n.json
  lib/i18n/ko.i18n.json
  lib/i18n/pt-BR.i18n.json
  lib/i18n/ru.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_ru.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/strings_zh_CN.g.dart
  lib/i18n/tr.i18n.json
  lib/i18n/zh-CN.i18n.json
  lib/presentation/views/comparison_result_dialog.dart
  lib/presentation/views/git_comparison_view.dart
  lib/presentation/views/quality_dashboard_view.dart
  windows/runner/resources/app_icon.ico
Due: check-build-runner

test: fix settings scope selector test
  test/presentation/widgets/settings/settings_scope_selector_test.dart
Due: check-build-runner

fix(localization): resolve remaining localization and analysis issues
  lib/core/services/quality_metrics_service.dart
  lib/i18n/strings.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_ru.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/strings_zh_CN.g.dart
  lib/presentation/views/quality_dashboard_view.dart
  lib/presentation/widgets/settings/ai_services_settings_card.dart
  lib/presentation/widgets/settings/appearance_settings_card.dart
  lib/presentation/widgets/settings/developer/feature_flags_section.dart
  lib/presentation/widgets/settings/developer/theme_playground_section.dart
  lib/presentation/widgets/settings/file_handling_settings_card.dart
  lib/presentation/widgets/settings/general_settings_card.dart
  lib/presentation/widgets/settings/global_translation_memory_card.dart
  lib/presentation/widgets/settings/setting_override_indicator.dart
  lib/presentation/widgets/settings/settings_collapsible_section.dart
  lib/presentation/widgets/settings/settings_scope_selector.dart
  lib/presentation/widgets/window/custom_title_bar.dart
  test/data/parsers/json_parser_test.dart
  test/data/services/gemini_translation_service_test.dart
Due: check-build-runner

fix: resolve lint warnings and fix settings dialog tests
  lib/core/input/app_shortcuts.dart
  lib/core/services/toast_service.dart
  test/presentation/views/settings_view_test.dart
Due: check-build-runner

feat(i18n): complete Arabic and Hindi translations
  compare_i18n.py
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/core/services/quality_metrics_service.dart
  lib/i18n/ar.i18n.json
  lib/i18n/de.i18n.json
  lib/i18n/en.i18n.json
  lib/i18n/es.i18n.json
  lib/i18n/fr.i18n.json
  lib/i18n/hi.i18n.json
  lib/i18n/it.i18n.json
  lib/i18n/ja.i18n.json
  lib/i18n/ko.i18n.json
  lib/i18n/pt-BR.i18n.json
  lib/i18n/ru.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_ar.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_en.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_hi.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_ru.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/strings_zh_CN.g.dart
  lib/i18n/tr.i18n.json
  lib/i18n/zh-CN.i18n.json
  lib/presentation/views/advanced_comparison_view.dart
  lib/presentation/views/advanced_diff/widgets/table/diff_data_table.dart
  lib/presentation/widgets/settings/settings_constants.dart
  translate_quality_metrics.py
  update_all_langs.py
Due: check-build-runner

fix(i18n): add missing diffTable and onboarding keys to all languages
  lib/data/models/app_settings.dart
  lib/data/models/app_settings.g.dart
  lib/i18n/ar.i18n.json
  lib/i18n/de.i18n.json
  lib/i18n/es.i18n.json
  lib/i18n/fr.i18n.json
  lib/i18n/it.i18n.json
  lib/i18n/ja.i18n.json
  lib/i18n/ko.i18n.json
  lib/i18n/pt-BR.i18n.json
  lib/i18n/ru.i18n.json
  lib/i18n/strings.g.dart
  lib/i18n/strings_ar.g.dart
  lib/i18n/strings_de.g.dart
  lib/i18n/strings_es.g.dart
  lib/i18n/strings_fr.g.dart
  lib/i18n/strings_it.g.dart
  lib/i18n/strings_ja.g.dart
  lib/i18n/strings_ko.g.dart
  lib/i18n/strings_pt_BR.g.dart
  lib/i18n/strings_ru.g.dart
  lib/i18n/strings_tr.g.dart
  lib/i18n/strings_zh_CN.g.dart
  lib/i18n/tr.i18n.json
  lib/i18n/zh-CN.i18n.json
  lib/presentation/widgets/onboarding/user_onboarding_checklist.dart
  lib/presentation/widgets/settings/comparison_settings_card.dart
  lib/presentation/widgets/settings/developer/feature_flags_section.dart
  lib/presentation/widgets/settings/developer_settings_card.dart
  lib/presentation/widgets/settings/live_logic_preview_card.dart
  lib/presentation/widgets/settings/settings_shared.dart
Due: check-build-runner

fix: add missing parameters to settings widgets
  lib/presentation/widgets/settings/settings_shared.dart
Due: check-build-runner

fix: set default language to Auto-Detect
  lib/data/models/app_settings.dart
Due: check-build-runner

feat: update intro
  lib/presentation/views/first_run_wizard_view.dart
  lib/presentation/views/home_view.dart
Due: check-build-runner

fix: delete unnecessary files
  compare_i18n.py
  translate_quality_metrics.py
  update_all_langs.py
Due: none

docs: update CHANGELOG.md for v2.0.0 release
  CHANGELOG.md
Due: none

Add Patreon username to FUNDING.yml
  .github/FUNDING.yml
Due: none

Update GitHub Sponsors username in FUNDING.yml
  .github/FUNDING.yml
Due: none

feat(docs-site): redesign docs landing page with product visuals
  docs/index.html
  docs/styles.css
Due: none

docs(oss): add governance/support docs and refresh OSS guidance
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/question.md
  CHECKLIST.md
  CONTRIBUTING.md
  FAQ.md
  GOVERNANCE.md
  README.md
  SUPPORT.md
Due: none

ci: expand workflows for coverage build deploy and automation
  .github/workflows/build-windows.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/flutter.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-size-labeler.yml
  .gitignore
  pubspec.yaml
Due: pubspec-check

feat: add GitHub Actions workflow to build and upload Windows release artifacts
  .github/workflows/build-windows.yml
Due: none

ci: fix format check for generated files and add Windows build timeout
  .github/workflows/build-windows.yml
  .github/workflows/flutter.yml
Due: none

docs: add Windows build status badge and installation instructions to README
  README.md
Due: none

ci: lower coverage threshold to 19% to match current baseline
  .github/workflows/flutter.yml
Due: none
