Repository KhazP/Localization-Comparison-Tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: pubspec-check, check-build-runner

.pre-commit-config.yaml:

# Pre-commit hooks for LocalizerAppMain Flutter Project
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        name: Fix end of file
      - id: check-yaml
        name: Validate YAML syntax
      - id: check-json
        name: Validate JSON syntax
      - id: check-merge-conflict
        name: Check for merge conflict markers
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1024']
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ['--fix=lf']
      - id: check-case-conflict
        name: Check for filename case conflicts

  # Dart/Flutter-specific hooks (using local hooks)
  - repo: local
    hooks:
      # Dart formatting
      - id: dart-format
        name: Dart Format
        description: Formats Dart code according to dart format
        entry: dart format --set-exit-if-changed
        language: system
        types: [dart]
        pass_filenames: true

      # Flutter analyze (static analysis)
      - id: flutter-analyze
        name: Flutter Analyze
        description: Runs Flutter static analysis
        entry: flutter analyze --no-pub --no-fatal-warnings --no-fatal-infos
        language: system
        types: [dart]
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      # Check pubspec.yaml is valid
      - id: pubspec-check
        name: Pubspec Check
        description: Validates pubspec.yaml syntax
        entry: flutter pub get --dry-run
        language: system
        files: pubspec\.yaml$
        pass_filenames: false

      # Check for generated files consistency
      - id: check-build-runner
        name: Check Generated Files
        description: Ensures generated files are up to date
        entry: 'cmd /c ".\\scripts\\check_build_runner.bat"'
        language: system
        files: \.(dart)$
        pass_filenames: false
        stages: [pre-commit]
        always_run: false

      # Run Flutter tests
      - id: flutter-test
        name: Flutter Tests
        description: Runs Flutter unit tests
        entry: flutter test --no-pub
        language: system
        types: [dart]
        pass_filenames: false
        stages: [pre-push]

  # Commit message linting
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        name: Validate commit message
        stages: [commit-msg]

# Hook stages configuration:
# - pre-commit: dart-format, pubspec-check, check-build-runner
# - pre-push: flutter-analyze, flutter-test
# - commit-msg: commitizen (validates conventional commits)

feat: Implement AI-powered translation and assistance with Gemini services and add an advanced diff view.
  .dart_tool/package_config.json
  .dart_tool/package_config_subset
  .dart_tool/package_graph.json
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/business_logic/blocs/settings_bloc/settings_event.dart
  lib/core/di/service_locator.dart
  lib/data/models/ai_suggestion_result.dart
  lib/data/models/app_settings.dart
  lib/data/models/app_settings.g.dart
  lib/data/services/ai_assistance_service.dart
  lib/data/services/gemini_ai_assistance_service.dart
  lib/data/services/gemini_translation_service.dart
  lib/data/services/translation_exceptions.dart
  lib/data/services/translation_service.dart
  lib/data/services/translation_service_factory.dart
  lib/presentation/utils/ai_error_mapper.dart
  lib/presentation/views/advanced_diff/advanced_diff_controller.dart
  lib/presentation/views/advanced_diff/advanced_diff_view.dart
  lib/presentation/views/advanced_diff/widgets/dialogs/detail_edit_dialog.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/advanced_diff_sidebar.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/ai_section.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/filters_section.dart
  lib/presentation/views/advanced_diff/widgets/table/diff_row_item.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_diff_table.dart
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/dialogs/ai_suggestion_dialog.dart
  lib/presentation/widgets/settings/ai_services_settings_card.dart
  lib/presentation/widgets/settings/settings_shared.dart
  pubspec.lock
  pubspec.yaml
  test/data/services/gemini_translation_service_test.dart
Due: pubspec-check, check-build-runner

feat: Implement adaptive AI assistance with Gemini, OpenAI, Google Translate, and DeepL, alongside advanced diff UI components, AI usage tracking, and a quality dashboard.
  LocalizerAppMain.md
  README.md
  agents.md
  lib/core/di/service_locator.dart
  lib/core/services/ai_usage_service.dart
  lib/data/models/ai_usage_summary.dart
  lib/data/services/adaptive_ai_assistance_service.dart
  lib/data/services/cloud_translation_ai_assistance_service.dart
  lib/data/services/deepl_translation_service.dart
  lib/data/services/gemini_ai_assistance_service.dart
  lib/data/services/openai_ai_assistance_service.dart
  lib/presentation/utils/ai_error_mapper.dart
  lib/presentation/views/advanced_diff/widgets/dialogs/detail_edit_dialog.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/advanced_diff_sidebar.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/ai_section.dart
  lib/presentation/views/advanced_diff/widgets/table/diff_row_item.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_diff_table.dart
  lib/presentation/views/quality_dashboard_view.dart
  lib/presentation/widgets/dialogs/ai_suggestion_dialog.dart
  test/data/services/gemini_translation_service_test.dart
  test/presentation/views/settings_view_test.dart
Due: check-build-runner

feat: add AI usage tracking and integrate new translation services (Gemini, DeepL)
  lib/core/di/service_locator.dart
  lib/core/services/ai_usage_service.dart
  lib/data/models/ai_usage_summary.dart
  lib/data/services/deepl_translation_service.dart
  lib/data/services/gemini_ai_assistance_service.dart
  lib/data/services/gemini_translation_service.dart
  lib/data/services/translation_service.dart
  lib/data/services/translation_service_factory.dart
  lib/presentation/views/quality_dashboard_view.dart
Due: check-build-runner

feat: Introduce core services for logging, Windows integration, and networking, along with initial project structure, documentation, and UI components.
  .agent/workflows/windows_command_fix.md
  .claude/settings.local.json
  LICENSE
  docs/implementation_plan(DONE).md
  docs/next_steps(DONE).md
  docs/part2-interactive-prd-tech-design.md
  docs/settings_plan(DONE).md
  lib/data/models/comparison_history.dart
  windows/runner/Runner.rc
  windows/runner/main.cpp
Due: check-build-runner

feat: add FUNDING.yml and ignore docs directory in .gitignore
  .gitignore
  FUNDING.yml
Due: none

"cleanup-gitignored-files"
  .agent/workflows/windows_command_fix.md
  .claude/settings.local.json
  .cursor/rules/createprojectnotes.mdc
  .cursor/rules/flutter.mdc
  .dart_tool/flutter_build/dart_plugin_registrant.dart
  .dart_tool/package_config.json
  .dart_tool/package_config_subset
  .dart_tool/package_graph.json
  .dart_tool/version
  TECHNICAL.md
  agents.md
  docs/code_documentation_style_guide.md
  docs/implementation_plan(DONE).md
  docs/next_steps(DONE).md
  docs/part1-deepresearch.md
  docs/part2-interactive-prd-tech-design.md
  docs/settings_plan(DONE).md
Due: check-build-runner

"cleanup-dev-files"
  .gitignore
  .metadata
  .pre-commit-config.yaml
  LocalizerAppMain.md
  claude.md
  devtools_options.yaml
  gemini.md
  run_localizer.bat
  run_quick.bat
Due: none

feat: Add initial project configuration with Claude permissions and Dart tool settings, alongside new project documentation and updated agent/technical guides.
  .github/workflows/flutter.yml
Due: none

feat: Add initial landing page for Localizer with features showcase and supporting assets.
  assets/pages/images/advanceddiff.png
  assets/pages/images/comparisonpage.png
  assets/pages/images/comparisonpageempty.png
  assets/pages/images/dashboard.png
  assets/pages/images/directorycomparisonindirectorypage.png
  assets/pages/images/directorypage.png
  assets/pages/images/history.png
  assets/pages/images/settings.png
  assets/pages/index.html
  assets/pages/styles.css
Due: none

feat: add initial landing page with modern styling and update gitignore.
  .gitignore
  docs/images/advanceddiff.png
  docs/images/comparisonpage.png
  docs/images/comparisonpageempty.png
  docs/images/dashboard.png
  docs/images/directorycomparisonindirectorypage.png
  docs/images/directorypage.png
  docs/images/history.png
  docs/images/settings.png
  docs/index.html
  docs/styles.css
Due: none

docs: Revamp README with detailed feature descriptions, new visuals, and repository updates, and override collection dependency to 1.19.0.
  README.md
  pubspec.lock
  pubspec.yaml
Due: pubspec-check

Create CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none

refactor: streamline code generation and outdated file checks in CI workflow
  .github/workflows/flutter.yml
Due: none

refactor: remove code generation and coverage steps from CI workflow
  .github/workflows/flutter.yml
Due: none

refactor: add code generation step in CI workflow
  .github/workflows/flutter.yml
Due: none

refactor: update color handling in AppearanceSettingsCard to use color.value
  .github/workflows/flutter.yml
  lib/presentation/widgets/settings/appearance_settings_card.dart
Due: check-build-runner

refactor: optimize layout handling in SettingsRow for better responsiveness
  lib/presentation/widgets/settings/comparison_settings_card.dart
  lib/presentation/widgets/settings/settings_shared.dart
Due: check-build-runner

refactor: enhance SettingsDropdown for better layout and text handling
  lib/presentation/widgets/settings/settings_shared.dart
Due: check-build-runner

feat: add settings view for configuring comparison behavior and ignore patterns.
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/settings/add_ignore_pattern_dialog.dart
  lib/presentation/widgets/settings/comparison_settings_card.dart
  lib/presentation/widgets/settings/settings.dart
  test/presentation/views/settings_view_test.dart
Due: check-build-runner

Revert "feat: add settings view for configuring comparison behavior and ignore patterns."
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/settings/add_ignore_pattern_dialog.dart
  lib/presentation/widgets/settings/comparison_settings_card.dart
  lib/presentation/widgets/settings/settings.dart
  test/presentation/views/settings_view_test.dart
Due: check-build-runner

Revert "refactor: enhance SettingsDropdown for better layout and text handling"
  lib/presentation/widgets/settings/settings_shared.dart
Due: check-build-runner

feat: Implement core application structure, dependency injection, settings, advanced diff view, and onboarding.
  .gitignore
  assets/sample_data/english/en.json
  assets/sample_data/turkish/tr.json
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/business_logic/blocs/settings_bloc/settings_event.dart
  lib/core/di/service_locator.dart
  lib/core/services/app_command_service.dart
  lib/core/services/onboarding_tutorial_service.dart
  lib/data/models/app_settings.dart
  lib/data/models/app_settings.g.dart
  lib/data/repositories/review_status_repository.dart
  lib/main.dart
  lib/presentation/app.dart
  lib/presentation/views/advanced_diff/advanced_diff_controller.dart
  lib/presentation/views/advanced_diff/advanced_diff_view.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_diff_table.dart
  lib/presentation/views/basic_comparison_view.dart
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/onboarding/user_onboarding_checklist.dart
  lib/presentation/widgets/settings/about_settings_card.dart
  lib/presentation/widgets/settings/developer/device_info_section.dart
  lib/presentation/widgets/settings/developer/feature_flags_section.dart
  lib/presentation/widgets/settings/developer/localization_inspector_section.dart
  lib/presentation/widgets/settings/developer/storage_inspector_section.dart
  lib/presentation/widgets/settings/developer/theme_playground_section.dart
  lib/presentation/widgets/settings/developer_settings_card.dart
  lib/presentation/widgets/settings/settings.dart
  lib/presentation/widgets/settings/settings_constants.dart
  pubspec.lock
  pubspec.yaml
Due: pubspec-check, check-build-runner

feat: add advanced diff view, data table, PlutoGrid adapter, and detail editing dialog
  lib/presentation/views/advanced_diff/advanced_diff_view.dart
  lib/presentation/views/advanced_diff/widgets/dialogs/detail_edit_dialog.dart
  lib/presentation/views/advanced_diff/widgets/table/diff_data_table.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
Due: check-build-runner

feat: Add project creation dialog and initial home view for application navigation.
  lib/presentation/views/home_view.dart
  lib/presentation/widgets/project/create_project_dialog.dart
Due: check-build-runner

feat: add AboutSettingsCard widget to display application and update information.
  lib/presentation/widgets/settings/about_settings_card.dart
Due: check-build-runner

feat: Add advanced diff UI for status overview and interactive diff row items with inline editing and AI actions.
  lib/presentation/views/advanced_diff/widgets/sidebar/status_section.dart
  lib/presentation/views/advanced_diff/widgets/table/diff_row_item.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
Due: check-build-runner

feat: add advanced diff view with sidebar for comparing localization files, including save and export functionality.
  lib/presentation/views/advanced_diff/advanced_diff_view.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/advanced_diff_sidebar.dart
Due: check-build-runner

feat: Implement advanced diff calculation with key-based, order-based, and smart match comparison modes, alongside a new advanced diff view.
  lib/core/services/comparison_engine.dart
  lib/core/services/diff_calculator.dart
  lib/core/services/toast_service.dart
  lib/presentation/views/advanced_diff/advanced_diff_controller.dart
  lib/presentation/views/advanced_diff/advanced_diff_view.dart
  lib/presentation/views/advanced_diff/widgets/sidebar/ai_section.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_diff_table.dart
  lib/presentation/views/basic_comparison_view.dart
  lib/presentation/views/projects_view.dart
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/common/premium_toast.dart
  lib/presentation/widgets/project/project_glossary_card.dart
  lib/presentation/widgets/project/project_memory_card.dart
  lib/presentation/widgets/settings/ai_services_settings_card.dart
  lib/presentation/widgets/settings/global_translation_memory_card.dart
  test/core/services/comparison_engine_test.dart
Due: check-build-runner

feat: Add comparison result dialog with syntax highlighting, user onboarding checklist, and developer feature flags section.
  lib/presentation/views/comparison_result_dialog.dart
  lib/presentation/widgets/onboarding/user_onboarding_checklist.dart
  lib/presentation/widgets/settings/developer/feature_flags_section.dart
  test/presentation/views/comparison_result_dialog_test.dart
Due: check-build-runner

Delete LICENSE
  LICENSE
Due: none

Add Mozilla Public License Version 2.0
  LICENSE
Due: none

feat: Relocate community files to .github directory and introduce new system integrations and file handling settings widgets.
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/FUNDING.yml
  .github/SECURITY.md
  lib/presentation/widgets/settings/file_handling_settings_card.dart
  lib/presentation/widgets/settings/system_integrations_card.dart
Due: check-build-runner

feat: introduce comprehensive settings management with dedicated UI, BLoC, and data models for various app configurations.
  lib/business_logic/blocs/settings_bloc/settings_bloc.dart
  lib/business_logic/blocs/settings_bloc/settings_event.dart
  lib/data/models/app_settings.dart
  lib/data/models/app_settings.g.dart
  lib/presentation/views/settings_view.dart
  lib/presentation/widgets/settings/settings.dart
  lib/presentation/widgets/settings/settings_constants.dart
Due: check-build-runner

feat: Introduce advanced diff table for comparison data, including a new diff utility and PlutoGrid integration.
  lib/core/utils/diff_utils.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_adapter.dart
  lib/presentation/views/advanced_diff/widgets/table/pluto_grid_diff_table.dart
Due: check-build-runner

feat: add basic comparison, home, and first run wizard views
  lib/presentation/views/basic_comparison_view.dart
  lib/presentation/views/first_run_wizard_view.dart
  lib/presentation/views/home_view.dart
Due: check-build-runner

feat: introduce Git integration for repository management, branch comparison, and conflict resolution.
  lib/data/services/git_service.dart
  lib/presentation/views/comparison_result_dialog.dart
  lib/presentation/views/files_view.dart
  lib/presentation/views/git_view.dart
Due: check-build-runner

feat: add Git integration UI with repository selection, branch/commit comparison, and conflict resolution.
  lib/presentation/views/comparison_result_dialog.dart
  lib/presentation/views/git_view.dart
Due: check-build-runner

feat: Implement comparison history, Git integration, and directory comparison features with new BLoCs, models, and UI views.
  lib/business_logic/blocs/directory_comparison_bloc.dart
  lib/business_logic/blocs/git_bloc.dart
  lib/business_logic/blocs/history_bloc.dart
  lib/data/models/comparison_history.dart
  lib/data/models/comparison_history.g.dart
  lib/data/repositories/history_repository.dart
  lib/presentation/app.dart
  lib/presentation/views/files_view.dart
  lib/presentation/views/history_view.dart
Due: check-build-runner
